body
{
    text-align: center;
    background-color: purple;
    padding: 10px;
    
}
p,h1
{
    color: aqua;
}
button
{
    background-color: grey;
    color: lawngreen;
    border-radius: 10px;
}
.card-grid
{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

img
{
 display: block;
 border: 3px solid white;
 border-radius: 6px;
 
}
.cards .front
{
    transform: rotateY(90deg);
    position: absolute;
    transition: ease-in 0.2s;
    transition-delay: 0s;

}
.flipped .front
{
    transform: rotateY(0deg);
    transition-delay: 0.2s ;
}
.cards .back
{
    transition: ease-in 0.2s;
    transition-delay: 0s;
}
.flipped .back
{
    transform: rotateY(90deg);
    transition-delay: 0s;
}